@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<Button disabled Type="ButtonType.Button" Color="ButtonColor.Primary">Testing</Button>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
